html[data-theme="light"],
:root {
    --textinverse: rgba(255, 255, 255, 1);
    --color-black: rgba(33, 36, 39, 1);
    --color-gray-main: rgba(238, 240, 242, 1);
    --color-gray-lighter: rgba(245, 246, 247, 1);
    --color-lavender-main: rgba(216, 216, 246, 1);
    --color-mint-main: rgba(29, 223, 204, 1);
    --color-mint-darker-1: rgba(23, 178, 163, 1);
    --color-mint-darker-2: rgba(17, 134, 122, 1);
    --color-mint-lighter: rgba(223, 249, 245, 1);
    --color-navy-main: rgba(13, 63, 103, 1);
    --color-navy-lighter-1: rgba(108, 136, 163, 1);
    --color-navy-lighter-2: rgba(155, 174, 193, 1);
    --color-navy-lighter-3: rgba(204, 214, 224, 1);
    --color-purple-main: rgba(107, 72, 255, 1);
    --color-purple-darker: rgba(86, 58, 204, 1);
    --color-white: rgba(255, 255, 255, 1);

    --primary: var(--color-mint-main);
    --secondary: var(--color-navy-main);
    --accent: var(--color-purple-main);

    --body-fg: var(--color-black);
    --body-bg: var(--color-gray-main);
    --header-bg: var(--color-navy-main);
    --header-link-color: var(--color-white);

    --link-fg: var(--color-mint-darker-1);
    --link-hover-color: var(--color-mint-main);

    --button-bg: var(--color-mint-main);
    --button-hover-bg: var(--color-mint-darker-1);
    --button-fg: var(--color-white);

    --error-fg: rgba(186, 33, 33, 1);

    --message-success-bg: var(--color-mint-lighter);
    --message-warning-bg: rgba(255, 235, 59, 1);
    --message-error-bg: rgba(255, 205, 210, 1);

    --hairline-color: var(--color-gray-lighter);
    --selected-bg: var(--color-lavender-main);
}

.help-tooltip {
    position: relative; 
    cursor: pointer;    
    color: var(--link-fg);     
}

.help-tooltip::after {
    content: attr(data-tooltip); 
    position: absolute;
    white-space: pre-line; 
    background-color:  var(--primary);
    color: var(--button-fg);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    line-height: 1.4;
    display: none; 
    top: 110%; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: left;
    min-width: 300px;
}

.help-tooltip:hover::after {
    display: block; 
}