# Ignore virtual environment ide files
.venv/
.vscode/
.idea/

# Ignore Python bytecode files
*.pyc
__pycache__

# Ignore system-specific or temporary files
.DS_Store
Thumbs.db

# ignore migrations
api/migrations
frontend/migrations

# ignore local settings ** use template
project/settings.py

# ignore truffle except for the contract and test files
truffle/
truffle/node_modules
truffle/migrations
truffle/truffle-config.js
truffle/package-lock.json
truffle/package.json

# ignore configuration files that need to be set manually
.env.dev
webpack.config.js

# django files 
db.sqlite3
manage.py

# node.js 
package.json
package-lock.json
node_modules
webpack-stats.json

# schema file
schema.yml

# static files
static/
!/frontend/static/

# dev specific start and stop scripts
start.sh
stop.sh
coverage.sh
pids.txt

# log files
log/django.log
log/events.log
log/npm.log

# cs files
cs/session.json
cs/

# config files
api/config/config.json

#django debug log
django_debug.log