
@import url('./Palette.css');

.filter-container {
    padding: 20px;
    margin-bottom: 30px;
    max-width: calc(100vw);
    max-height: 300px;
    border: 1px solid  var(--color-grey);
    box-shadow: 0 0 15px  rgba(0, 0, 0, 0.5);
}

.filter-container h2 {
    margin-bottom: 10px;
}
  
.multiselect-container {
    margin-bottom: 5px; 
}
  
.filter-container input[type='date'] {
    margin-top: 0px; 
    margin-right: 10px;
    padding: 4px;
    width: 15%;
    border-radius: 4px;
    border: 1px solid var(--color-grey);
}
  
.filter-container label {
    margin-top: 0px; 
    margin-right: 6px;
}
  
.filter-container button {
    margin-top: 16px;
    padding: 8px 16px;
    background-color: var(--color-lightblue);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.filter-container button:hover {
    background-color: var(--color-green);
}
  