:root {
    --color-darkblue:   #0D3F67;
    --color-lightblue:  #2D93E5;
    --color-purple:     #6B48FF;
    --color-grey:       #ADB2D3;
    --color-green:      #16A799;
    --color-turquoise:  #1DDFCC;
    --color-red:        red;  
};
  