@import url('./Palette.css');

.chart-container {
    max-width: calc(100vw);
    padding: 20px;
    margin-top: 30px;
    border: 1px solid var(--color-grey);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.period-label {
    margin-right: 5px; 
}

.period-dropdown {
    margin-bottom: 0px; 
}

.chart-container select,
.chart-container input,
.chart-container textarea {
  width: 20%;
  padding: 8px;
  border: 1px solid var(--color-grey);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white; 
  appearance: none; 
  -webkit-appearance: none; 
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="gray" d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
}