:root {
  --body-emphasis-font-family: "Inter", Helvetica;
  --body-emphasis-font-size: 18px;
  --body-emphasis-font-style: normal;
  --body-emphasis-font-weight: 500;
  --body-emphasis-letter-spacing: 0px;
  --body-emphasis-line-height: 140%;
  --body-large-font-family: "Inter", Helvetica;
  --body-large-font-size: 21px;
  --body-large-font-style: normal;
  --body-large-font-weight: 500;
  --body-large-letter-spacing: 0px;
  --body-large-line-height: 170%;
  --body-regular-font-family: "Inter", Helvetica;
  --body-regular-font-size: 16px;
  --body-regular-font-style: normal;
  --body-regular-font-weight: 500;
  --body-regular-letter-spacing: 0px;
  --body-regular-line-height: 160%;
  --body-small-font-family: "Inter", Helvetica;
  --body-small-font-size: 12px;
  --body-small-font-style: normal;
  --body-small-font-weight: 500;
  --body-small-letter-spacing: 0px;
  --body-small-line-height: 140%;
  --body-bold-font-family: "Inter-Bold", Helvetica;
  --body-bold-font-size: 16px;
  --body-bold-font-style: bold;
  --body-bold-font-weight: 700;
  --body-bold-letter-spacing: 0px;
  --body-bold-line-height: 160%;
  --heading-1-font-family: "DM Sans", Helvetica;
  --heading-1-font-size: 90px;
  --heading-1-font-style: normal;
  --heading-1-font-weight: 500;
  --heading-1-letter-spacing: -2.7px;
  --heading-1-line-height: 110%;
  --heading-2-font-family: "DM Sans", Helvetica;
  --heading-2-font-size: 68px;
  --heading-2-font-style: normal;
  --heading-2-font-weight: 500;
  --heading-2-letter-spacing: -2.04px;
  --heading-2-line-height: 110%;
  --heading-3-font-family: "DM Sans", Helvetica;
  --heading-3-font-size: 51px;
  --heading-3-font-style: normal;
  --heading-3-font-weight: 500;
  --heading-3-letter-spacing: -1.53px;
  --heading-3-line-height: 110%;
  --heading-4-font-family: "DM Sans", Helvetica;
  --heading-4-font-size: 38px;
  --heading-4-font-style: normal;
  --heading-4-font-weight: 500;
  --heading-4-letter-spacing: -1.14px;
  --heading-4-line-height: 110%;
  --heading-5-font-family: "DM Sans", Helvetica;
  --heading-5-font-size: 28px;
  --heading-5-font-style: normal;
  --heading-5-font-weight: 500;
  --heading-5-letter-spacing: -0.84px;
  --heading-5-line-height: 110%;
  --textinverse: rgba(255, 255, 255, 1);
  --color-black: rgba(33, 36, 39, 1);
  --color-gray-main: rgba(238, 240, 242, 1);
  --color-gray-lighter: rgba(245, 246, 247, 1);
  --color-lavender-main: rgba(216, 216, 246, 1);
  --color-mint-main: rgba(29, 223, 204, 1);
  --color-mint-darker-1: rgba(23, 178, 163, 1);
  --color-mint-darker-2: rgba(17, 134, 122, 1);
  --color-mint-lighter: rgba(223, 249, 245, 1);
  --color-navy-main: rgba(13, 63, 103, 1);
  --color-navy-lighter-1: rgba(108, 136, 163, 1);
  --color-navy-lighter-2: rgba(155, 174, 193, 1);
  --color-navy-lighter-3: rgba(204, 214, 224, 1);
  --color-purple-main: rgba(107, 72, 255, 1);
  --color-purple-darker: rgba(86, 58, 204, 1);
  --color-white: rgba(255, 255, 255, 1);
}