.ri-arrow-drop-down {
    height: 24px;
    position: relative;
    width: 24px;
}
  
.ri-arrow-drop-down .vector {
    height: 6px;
    left: 8px;
    position: absolute;
    top: 9px;
    width: 8px;
}
  