body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: var(--color-lightgrey);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.auth-container {
    background-color: white;
    padding: 20px;
    border: 1px solid var(--color-grey);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.logo img {
    width: 150px;
    margin-bottom: 20px;
}

.auth-form h2 {
    margin-bottom: 20px;
    color: var(--color-darkblue);
}

.auth-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.form-text {
    font-size: 12px;
    margin-top: 5px;
}

.form-text span {
    display: block;
    margin-top: 5px;
}

.form-text ul {
    padding-left: 20px;
    margin: 5px 0 0 0;
}

.form-text ul li {
    text-align: left;
}

.auth-form form button {
    background-color: var(--color-lightblue);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    transition: background-color 0.3s;
}

.auth-form form button:hover {
    background-color: var(--color-green);
}

.auth-form p {
    margin-top: 20px;
}

.auth-form p a {
    color: var(--color-darkblue);
    text-decoration: none;
}

.auth-form p a:hover {
    text-decoration: underline;
}