.for-sellers {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.for-sellers .blade {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 120px 0px 0px;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.for-sellers .hero-container {
  display: flex;
  width: 100%;
}

.for-sellers .hero-grid {
  width: 100%;
}

.for-sellers .hero-frame {
  display: inline-flex;
  gap: 32px;
  justify-content: center; 
  width: 100%;
}

.for-sellers .hero-text-frame {
  gap: 16px;
  text-align: left; 
  width: 100%;
}

.for-sellers .hero-heading {
  color: var(--color-black);
  font-family: var(--heading-2-font-family);
  font-size: var(--heading-2-font-size);
  font-style: var(--heading-2-font-style);
  font-weight: var(--heading-2-font-weight);
  letter-spacing: var(--heading-2-letter-spacing);
  line-height: var(--heading-2-line-height);
  margin-top: 0px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.for-sellers .hero-text {
  color: var(--color-black);
  font-family: var(--body-large-font-family);
  font-size: var(--body-large-font-size);
  font-style: var(--body-large-font-style);
  font-weight: var(--body-large-font-weight);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  margin-right: 20px;
  text-align: left; 
}

.for-sellers .quote-blade {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.for-sellers .seller-image {
  position: relative;
  width: 75%;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.for-sellers .seller-image img {
  width: 75%;
}

.for-sellers .quote-container {
  background-color: var(--color-purple-main);
  width: 75%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.for-sellers .quote-text {
  color: var(--color-white);
  font-family: var(--body-large-font-family);
  font-size: var(--body-large-font-size);
  font-style: var(--body-large-font-style);
  font-weight: var(--body-large-font-weight);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  text-align: left;
  max-width: 100%;
}

.for-sellers .attribution-text {
  color: var(--color-white);
  font-family: var(--body-small-font-family);
  font-size: var(--body-small-font-size);
  font-style: var(--body-small-font-style);
  font-weight: var(--body-small-font-weight);
  letter-spacing: var(--body-small-letter-spacing);
  line-height: var(--body-small-line-height);
  text-align: left;
  max-width: 100%;
  margin-top: 10px;
}

.for-sellers .blade-container {
  display: flex;
  width: 100%;
}

.for-sellers .blade-grid {
  width: 100%;
}

.for-sellers .blade-frame {
  display: inline-flex;
  gap: 32px;
}

.for-sellers .blade-text-frame {
  gap: 16px;
}

.for-sellers .blade-heading {
  color: var(--color-black);
  font-family: var(--heading-2-font-family);
  font-size: var(--heading-2-font-size);
  font-style: var(--heading-2-font-style);
  font-weight: var(--heading-2-font-weight);
  letter-spacing: var(--heading-2-letter-spacing);
  line-height: var(--heading-2-line-height);
  margin-top: 0px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.for-sellers .blade-text {
  font-family: var(--body-regular-font-family);
  font-size: var(--body-regular-font-size);
  font-style: var(--body-regular-font-style);
  font-weight: var(--body-regular-font-weight);
  letter-spacing: var(--body-regular-letter-spacing);
  line-height: var(--body-regular-line-height);
  margin-right: 20px;
}

@media (max-width: 1200px) {
  .for-sellers .blade-heading {
    font-size: calc(var(--heading-2-font-size) - 5px) !important; 
  }

  .for-sellers .cash-image {
    width: 65%;
  }
}

@media (max-width: 992px) {
  .for-sellers .blade-heading {
    font-size: calc(var(--heading-2-font-size) - 10px) !important;
  }

  .for-sellers .cash-image {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .for-sellers .blade-heading {
    font-size: calc(var(--heading-2-font-size) - 20px) !important;
  }

  .for-sellers .blade-container {
    flex-direction: column;
    align-items: center;
  }

  .for-sellers .cash-image {
    margin-top: 40px;
    width: 70%;
  }
}

@media (max-width: 576px) {
  .for-sellers .blade-heading {
    font-size: calc(var(--heading-2-font-size) - 30px) !important;
  }

  .for-sellers .blade-container {
    flex-direction: column;
    align-items: center;
  }

  .for-sellers .cash-image {
    margin-top: 40px;
    width: 50%;
  }
}