.button-text {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  position: relative;
}

.button-text .text-wrapper {
  color: var(--color-purple-darker);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button-text .ri-arrow-down-line {
  position: relative;
}

.button-text.default {
  gap: 8px;
}

.button-text.small {
  gap: 4px;
}

.button-text.default .text-wrapper {
  font-family: var(--body-emphasis-font-family);
  font-weight: var(--body-emphasis-font-weight);
  letter-spacing: -0.54px;
  line-height: 18px;
}

.button-text.small .text-wrapper {
  font-family: var(--body-small-font-family);
  font-weight: var(--body-small-font-weight);
  letter-spacing: -0.48px;
  line-height: 16px;
}

.button-text.default .ri-arrow-down-line {
  height: 24px;
  width: 24px;
}

.button-text.small .ri-arrow-down-line {
  height: 20px;
  width: 20px;
}