.footer {
  align-items: center;
  background-color: var(--color-navy-main);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px 0px;
  position: relative;
  width: 100%;
  margin-top: 50px;
  overflow-x: hidden;
}

.footer .container {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.footer .nav-left {
  align-items: center;
  display: flex;
  gap: 10px;
}

.footer .nav-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
}

.footer .nav-center {
  align-items: flex-start;
  display: flex;
  justify-content: space-around; 
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 40%; 
}

.footer .column-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer .column-text {
  font-family: var(--body-bold-font-family);
  font-size: var(--body-bold-font-size);
  font-weight: var(--body-bold-font-weight);
  font-style: var(--body-bold-font-style);
  margin-bottom: 8px;
  color: var(--color-white);
  white-space: nowrap; 
}

.footer .logo-instance {
  height: 40px !important;
  width: 110px !important;
}

.footer-bottom {
  width: 100%;
  padding: 10px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .white-line {
  border-top: 1px solid var(--color-white);
  width: 90%;
  margin-bottom: 10px;
}

.footer .copyright-text {
  color: var(--color-white);
  font-family: var(--body-small-font-family);
  font-size: var(--body-small-font-size);
  text-align: left;
  width: 90%;
}

@media (max-width: 768px) {

  .footer .container {
    flex-direction: column; 
    align-items: center;    
    text-align: center;    
  }

  .footer .column-text {
    font-size: var(--body-bold-font-size);
  }

  .footer .logo-instance {
    margin-bottom: 10px;
    align-self: center;     
  }

  .footer .nav-center {
    display: flex;
    flex-direction: row;
    gap: 20px;              
    width: 100%;           
    position: static;     
    transform: none;     
    margin-top: 10px;   
  }

  .footer .nav-center .column-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .footer .nav-left {
    justify-content: center;
    padding-left: 0;
  }
}

@media (max-width: 576px) {

  .footer .container {
    flex-direction: column; 
    align-items: center;    
    text-align: center;    
  }

  .footer .logo-instance {
    margin-bottom: 10px;
    align-self: center;     
  }

  .footer .column-text {
    font-size: var(--body-bold-font-size);
  }

  .footer .nav-center {
    display: flex;
    flex-direction: column;
    gap: 15px;              
    width: 100%;           
    position: static;     
    transform: none;     
    margin-top: 10px;   
  }

  .footer .nav-center .column-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .footer .nav-left {
    justify-content: center;
    padding-left: 0;
  }
}