.contracts-main-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 400px 1fr; 
}

.contracts-list {
  padding: 20px;
  border-right: 1px solid var(--color-darkblue);
  overflow-y: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.contracts-header {
  margin: 0 0 20px;
  text-align: center;
  width: 100%;
}

.contract-item {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid var(--color-grey);
  padding: 10px;
  cursor: pointer; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contract-item.selected {
  background-color: var(--color-darkblue);
  color: white;
}

.contract-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contract-header {
  margin: 0;
  font-size: var(--font-size-default);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expand-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: var(--font-size-default);
  color: inherit;
}

.contract-details-container {
  margin-top: 10px;
}

.contract-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.detail-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail-item {
  padding: 0px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.party-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.settlements-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column; 
}

.settlement-item {
  padding: 5px;
  border: 1px solid var(--color-grey);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.settlement-item:hover {
  background-color: var(--color-lightgrey);
}

.late-label {
  color: var(--color-error);
  font-weight: bold;
  float: right; 
}

.transactions-list {
  padding: 10px;
  overflow-y: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.transactions-header {
  margin: 0 0 20px;
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

.transaction-item {
  padding-bottom: 20px;
  padding-top: 5px;
  border: 1px solid var(--color-grey);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  width: 100%;
  padding-left: 5px;
}

.transaction-item.expanded {
  background-color: var(--color-lightgrey);
}

.transaction-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.transaction-details .detail-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}