.how-it-works {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px; /* Adjust this to ensure it doesn't overlap the title bar */
  padding-top: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.how-it-works-image {
  width: 100%;
  height: auto;
  margin-top: 20px; /* Ensure there's space above the image if needed */
}

.how-it-works-text {
  width: 80%;
  margin: 20px 0;
  text-align: justify;
  font-size: var(--font-size-default);
}