<div class="module">
    <div class="inline-group">
        <!-- Existing Transactions Table -->
        <h3 class="subhead">Transactions</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Advance Amount</th>
                    <th scope="col">Advance Date</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.transact_idx }}</td>
                    <td>{{ transaction.transact_dt }}</td>
                    <td>
                        <span class="help-tooltip" data-tooltip=
                            "Service fee: {{ transaction.service_fee_amt }}">
                            {{ transaction.transact_amt }}
                        </span>
                    </td>
                    <td>{{ transaction.advance_pay_amt }}</td>
                    <td>{{ transaction.advance_pay_dt }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="empty-result">No transactions available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>