@import url('./Palette.css');

.transaction-detail-container {
  padding: 20px;
  max-width: calc(100vw);
  height: auto;
  overflow: hidden;
  border: 1px solid var(--color-grey);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; /* Adjust margin to ensure equal spacing */
}

.transaction-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  border-collapse: collapse;
}

.header-row {
  font-weight: bold;
  border: 1px solid var(--color-grey);
  padding: 5px;
  grid-column: span 2;
  background-color: var(--color-lightgrey); 
}

.json-key,
.json-value {
  border: 1px solid var(--color-grey);
  padding: 5px;
  word-wrap: break-word;
  text-align: left;
}

.json-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}

.json-row {
  display: contents;
}