.button {
  align-items: center;
  border-radius: 6px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.button .div {
  font-family: var(--heading-5-font-family); 
  font-weight: var(--heading-5-font-weight); 
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button.small {
  padding: 12px 16px;
}

.button.default {
  padding: 16px 24px;
}

.button.primary {
  background-color: var(--color-purple-darker);
}

.button.secondary {
  border: 2px solid;
  border-color: var(--color-gray-main); 
}

.button.disabled {
  border: 2px solid;
  border-color: var(--color-gray-main); 
}

.button.small .div {
  font-size: var(--body-small-font-size); 
  letter-spacing: var(--body-small-letter-spacing); 
  line-height: var(--body-small-line-height); 
}

.button.default .div {
  font-size: var(--body-regular-font-size); 
  letter-spacing: var(--body-regular-letter-spacing); 
  line-height: var(--body-regular-line-height); 
}

.button.primary .div {
  color: var(--color-white); 
  margin-top: -1px;
}

.button.secondary .div {
  color: var(--color-black);
  margin-top: -2px;
}

.button.disabled .div {
  color: rgba(33, 36, 39, 0.4); 
  margin-top: -2px;
}

.hidden {
  display: none;
}