.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  padding: 20px;
}

.quote-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--color-light-grey);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-black);
  font-family: var(--heading-2-font-family);
  font-size: var(--heading-2-font-size);
  font-style: var(--heading-2-font-style);
  font-weight: var(--heading-2-font-weight);
  letter-spacing: var(--heading-2-letter-spacing);
  line-height: var(--heading-2-line-height);
}

.quote-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  color: var(--color-black);
  font-family: var(--body-large-font-family);
  font-size: var(--body-large-font-size);
  font-style: var(--body-large-font-style);
  font-weight: var(--body-large-font-weight);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  margin-bottom: 5px;
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-grey);
  border-radius: 4px;
}

textarea {
  resize: vertical;
  height: 100px;
}

.submit-button {
  width: 25%;
  padding: 10px 15px;
  background-color: var(--color-purple-main);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  align-self: center; 
  font-size: var(--body-regular-font-size); 
  letter-spacing: var(--body-regular-letter-spacing); 
  line-height: var(--body-regular-line-height); 
}

.quote .right-blade {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.quote .right-container {
  background-color: var(--color-purple-main);
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center; 
  border-radius: 10px;
}

.quote .right-header {
  color: var(--color-white);
  font-family: var(--body-large-font-family);
  font-size: var(--body-large-font-size);
  font-style: var(--body-large-font-style);
  font-weight: var(--body-large-font-weight);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-font-line-height);
  text-align: left;
  max-width: 100%;
}

.quote .right-text {
  color: var(--color-white); 
  font-family: var(--body-regular-font-family);
  font-size: var(--body-regular-font-size);
  font-style: var(--body-regular-font-style);
  font-weight: var(--body-regular-font-weight);
  letter-spacing: var(--body-regular-letter-spacing);
  line-height: var(--body-regular-line-height);
  text-align: left;
  max-width: 100%;
}

.submit-button:hover {
  background-color: var(--color-purple-darker);
}

@media (max-width: 1200px) {
  .for-buyers .blade-heading {
    font-size: calc(var(--heading-2-font-size) - 5px) !important; 
  }

  .for-buyers .cash-image {
    width: 65%;
  }
}

@media (max-width: 992px) {
  .for-buyers .blade-heading {
    font-size: calc(var(--heading-2-font-size) - 10px) !important;
  }

  .for-buyers .cash-image {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .for-buyers .blade-heading {
    font-size: calc(var(--heading-2-font-size) - 20px) !important;
  }

  .for-buyers .blade-container {
    flex-direction: column;
    align-items: center;
  }

  .for-buyers .cash-image {
    margin-top: 40px;
    width: 70%;
  }
}

@media (max-width: 576px) {
  .for-buyers .blade-heading {
    font-size: calc(var(--heading-2-font-size) - 30px) !important;
  }

  .for-buyers .blade-container {
    flex-direction: column;
    align-items: center;
  }

  .for-buyers .cash-image {
    margin-top: 40px;
    width: 50%;
  }

  .submit-button {
    width: 50%;
  }
}