.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  padding: 20px;
}

.quote-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--color-light-grey);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-black);
  font-family: var(--heading-2-font-family);
  font-size: var(--heading-2-font-size);
  font-style: var(--heading-2-font-style);
  font-weight: var(--heading-2-font-weight);
  letter-spacing: var(--heading-2-letter-spacing);
  line-height: var(--heading-2-line-height);
}

.quote-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  color: var(--color-black);
  font-family: var(--body-large-font-family);
  font-size: var(--body-large-font-size);
  font-style: var(--body-large-font-style);
  font-weight: var(--body-large-font-weight);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  margin-bottom: 5px;
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-grey);
  border-radius: 4px;
}

textarea {
  resize: vertical;
  height: 100px;
}

.submit-button {
  width: 25%;
  padding: 10px 15px;
  background-color: var(--color-purple-main);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  align-self: center; 
  font-size: var(--body-regular-font-size); 
  letter-spacing: var(--body-regular-letter-spacing); 
  line-height: var(--body-regular-line-height); 
}

.submit-button:hover {
  background-color: var(--color-purple-darker);
}

@media (max-width: 576px) {
  .submit-button {
    width: 50%;
  }
}