.contracts-page {
  padding: 0px; /* 30px padding on all sides */
  display: flex;
  justify-content: center; /* Center the container */
}

.contracts-container {
  width: calc(100%); /* Adjust for the NavBar and margins */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-sizing: border-box;
  margin-left: 75px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.contracts-header {
  text-align: left;
  margin-bottom: 20px;
}

.contract-container {
  width: 100%;
  padding: 20px;
  border: 1px solid var(--color-grey);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;
}

.contract-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.inactive-text {
  color: var(--color-error);
}

.contract-details {
  display: flex;
  flex-direction: row; /* Change to row to add columns */
  justify-content: space-between;
}

.detail-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.detail-item {
  padding: 4px;
  box-sizing: border-box;
}

.engage-image {
  width: 80px;
  height: auto;
  position: absolute;
  top: 10px;
  right: 10px;
}

.settlement-toggle,
.transaction-toggle,
.artifact-toffle {
  margin-top: 10px;
  cursor: pointer;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid var(--color-grey);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.arrow.down {
  transform: rotate(90deg);
}

.settlement-container,
.transaction-container,
.artifact-container {
  margin-top: 10px;
}

.settlement-header,
.transaction-header,
.artifact-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-grey);
}

.settlement-list,
.transaction-list,
.artifact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.settlement-item,
.transaction-item,
.artifact-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-grey);
}

.column-header {
  flex: 1;
  text-align: left;
}

.string-column {
  flex: 2;
}

.date-column,
.number-column,
.amount-column,
.time-column {
  flex: 1;
}

.selected {
  background-color: #f0f0f0;
}

.overdue-unpaid {
  color: var(--color-error);
}

@media (max-width: 768px) {
  .contract-details {
    flex-direction: column; /* Stack items on small screens */
  }
}