@import url('./Palette.css');

.detail-page {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    overflow-y: hidden;
}

.account-container, .transaction-container, .settlement-container {
    padding: 20px;
    padding-bottom: 0px;
    max-width: calc(100vw);
    height: auto;
    overflow: hidden;
    border: 1px solid var(--color-grey);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.account-header, .transaction-header, .settlement-header, .transaction-footer, .settlement-footer {
    display: flex;
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid var(--color-grey);
    border-top: 1px solid var(--color-grey);
    z-index: 1;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
}

.account-list, .transaction-list, .settlement-list {
    width: 100%;
    list-style-type: none;
    margin-top: 10px;
    padding-left: 0;
}

.account-item, .transaction-item, .settlement-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-grey);
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    width: 100%;
}

.account-item.selected, .transaction-item.selected, .settlement-item.selected {
    background-color: var(--color-lightblue);
    color: white;
}

.account-column, .transaction-column, .settlement-column {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 5px;
}

.string-column {
    flex: 5;
}

.shortstring-column {
    flex: 2;
}

.amount-column {
    flex: 2;
}

.date-column {
    flex: 4;
}

.column-footer {
    flex: 1;
    padding: 10px 0;
    text-align: right;
    font-weight: bold;
    margin-right: 20px;
}

.pay-button {
    width: auto;
    padding: 10px;
    background-color: var(--color-lightblue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    color: white;
}

.pay-button:hover {
    background-color: var(--color-green);
    color: white;
}

.pay-button:disabled {
    background-color: var(--color-grey);
    cursor: not-allowed;
}

/* Responsive styling for small screens */
@media (max-width: 768px) {
    .account-header, .transaction-header, .settlement-header, .transaction-footer, .settlement-footer {
        flex-wrap: wrap;
    }

    .column-header {
        flex: 1 1 100%;
    }

    .account-item, .transaction-item, .settlement-item {
        flex-direction: column;
    }

    .column-footer {
        text-align: center;
        margin: 10px 0;
    }
}