@import url('./Palette.css');

.detail-page {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  overflow-y: hidden;
}

.filter-container {
  padding: 20px;
  margin-bottom: 20px;
  max-width: calc(100vw);
  border: 1px solid var(--color-grey);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.filter-container h2 {
  margin-bottom: 10px;
}

.select-container {
  margin-bottom: 5px;
}

.date-filters {
  display: flex;
  align-items: center;
}

.date-filters label {
  margin-right: 10px;
}

.date-filters input[type='date'] {
  margin-right: 10px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid var(--color-grey);
}

.apply-filter-button {
  margin-left: auto;
  padding: 8px 16px;
  background-color: var(--color-lightblue);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.apply-filter-button:hover {
  background-color: var(--color-green);
}

.apply-filter-button.disabled {
  background-color: var(--color-grey);
  cursor: not-allowed;
}

.no-tickets-found {
  color: var(--color-error);
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.ticket-container {
  padding: 20px;
  border: 1px solid var(--color-grey);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.ticket-header {
  display: flex;
  font-weight: bold;
  border-bottom: 1px solid var(--color-grey);
  padding: 4px 0;
  background-color: white;
}

.column-header {
  padding: 5px;
  flex: 1;
  text-align: left;
}

.ticket-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}

.ticket-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey);
  padding: 5px 0;
  cursor: pointer;
}

.ticket-item.selected {
  background-color: var(--color-lightblue);
  color: white;
}

.ticket-column {
  padding: 5px;
  flex: 1;
}

.process-tickets-button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: var(--color-lightblue);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 25%;
}

.process-tickets-button:hover {
  background-color: var(--color-green);
}

.process-tickets-button.disabled {
  background-color: var(--color-grey);
  cursor: not-allowed;
}

/* Responsive styling for small screens */
@media (max-width: 768px) {
  .ticket-header {
    flex-wrap: wrap;
  }

  .column-header {
    flex: 1 1 100%;
  }

  .ticket-item {
    flex-direction: column;
  }

  .process-tickets-button {
    width: 100%;
    margin-top: 10px;
  }
}