@import url('./components/Palette.css');

body {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.app-container {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start; 
    height: 100vh; 
    overflow-y: auto;
}

.nav-bar {
    flex: 0 0 200px; 
    background-color: var(--color-darkblue);
    padding: 20px;
    margin: 0;
    height: 100vh;
    overflow-y: hidden;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-bar ul {
    list-style-type: none; 
    padding: 0; 
}

.nav-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-links li {
    margin-bottom: 0;
}

.nav-links button {
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
    color: var(--color-grey);
    font-size: 16px; 
    font-weight: normal; 
    padding: 10px 0px; 
    text-align: left; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.nav-links button:hover {
    color: var(--color-green); /* Change text color on hover */
}

.logo {
    display: flex;
    justify-content: left; 
    align-items: center; 
    padding-top: 0px;
    padding-bottom: 20px;
}

.logo img {
    width: 120px;
    height: auto;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: 40px; /* To add some spacing from the bottom */
}

.username {
    color: var(--color-grey);
    font-size: 12px; /* Set to 12px */
    margin-bottom: 10px;
}

/* App.css */
.user-info {
    margin-top: auto; /* Pushes user info to the bottom of the nav */
    padding-top: 20px;
    border-top: 1px solid var(--color-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .username {
    font-size: 12px;
    color: var(--color-grey);
  }
  
  .logout-link {
    font-size: 10px;
    color: var(--color-grey);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-bottom: 5px;
    font-style: italic;
  }
  
  .logout-link:hover {
    text-decoration: underline;
  }