{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}
{% endblock %}

{% block content %}
<h1 class="title">Add Payment</h1>
<form method="post" class="residual-form">
    {% csrf_token %}

    <fieldset class="module aligned">

        <!-- Select Contract -->
        <div class="form-row">
            <div class="flex-container">
                <label class="required" for="{{ payment_form.contract_idx.id_for_label }}">{{ payment_form.contract_idx.label }}</label>
                {{ payment_form.contract_idx }}
            </div>
            <div class="help">{{ payment_form.contract_idx.help_text }}</div>
        </div>

    </fieldset>

    <div class="submit-row">
        <input type="submit" value="Save" class="default" />
    </div>
</form>

<!-- Hidden contracts data -->
<script id="contracts-data" type="application/json">
    {{ contracts|safe }}
</script>
{% endblock %}