{% load static %}

<div id="content-main">
    <!-- Custom Links Section -->
    <div class="section-container">
        {% for section in custom_links %}
        <div class="module">
            <h2 class="admin-header">{{ section.section }}</h2>
            <ul class="model-list grid-container">
                {% for link in section.links %}
                <li class="model grid-item">
                    <a href="{{ link.url }}">{{ link.name }}</a>
                </li>
                {% empty %}
                <li class="model grid-item">
                    <p>No links available.</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>

    <!-- App List Section -->
    <div class="section-container">
        {% for app in app_list %}
        <div class="module">
            <h2>{{ app.name }}</h2>
            <ul class="model-list">
                {% for model in app.models %}
                <li class="model">
                    <a href="{{ model.admin_url }}">{{ model.name }}</a>
                </li>
                {% empty %}
                <li class="model empty">
                    <p>No models available.</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>