{% extends "admin/base.html" %}
{% load static %}

{% block title %}FIZIT Administration{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">FIZIT Administration</a></h1>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom_admin.css' %}">
{% endblock %}