{% extends "admin/base_site.html" %}
{% load humanize %}

{% block content %}
<div id="content-main">
    <h1 class="title">View Mercury Account Balances</h1>

    {% if error %}
        <div class="errornote">
            <p>{{ error }}</p>
        </div>
    {% else %}
        <div class="module">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Account Name</th>
                        <th scope="col">Account ID</th>
                        <th scope="col">Available Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in accounts %}
                    <tr>
                        <td>{{ account.account_name }}</td>
                        <td>{{ account.account_id }}</td>
                        <td>{{ account.available_balance|floatformat:2|intcomma }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="empty-result">No accounts found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>
{% endblock %}