{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}
<script>
    const contracts = {{ contracts|default:"[]"|safe }};
    const contractTypes = {{ contract_types|default:"[]"|safe }};
    const settlements = {{ settlements|default:"{}"|safe }};
    let defaultContractType = "{{ default_contract_type|escapejs }}";
</script>
<script src="{% static 'js/post_deposit.js' %}?v1.16"></script>
{% endblock %}

{% block content %}
<h1 class="title">Post Deposit</h1>
<form method="post" class="post-deposit-form">
    {% csrf_token %}
    <fieldset class="module aligned">

        <!-- Select Contract Type -->
        <div class="form-row">
            <div class="flex-container">
                <label class="required" for="{{ post_deposit_form.contract_type.id_for_label }}">
                    {{ post_deposit_form.contract_type.label }}
                </label>
                {{ post_deposit_form.contract_type }}
            </div>
            <div class="help">{{ post_deposit_form.contract_type.help_text }}</div>
        </div>

        <!-- Select Contract -->
        <div class="form-row">
            <div class="flex-container">
                <label class="required" for="{{ post_deposit_form.contract_idx.id_for_label }}">
                    {{ post_deposit_form.contract_idx.label }}
                </label>
                {{ post_deposit_form.contract_idx }}
            </div>
            <div class="help">{{ post_deposit_form.contract_idx.help_text }}</div>
        </div>

        <!-- Settlement Index -->
        <div class="form-row">
            <div class="flex-container">
                <label class="required" for="{{ post_deposit_form.settle_idx.id_for_label }}">
                    {{ post_deposit_form.settle_idx.label }}
                </label>
                {{ post_deposit_form.settle_idx }}
            </div>
            <div class="help">{{ post_deposit_form.settle_idx.help_text }}</div>
        </div>

        <!-- Dispute Reason -->
        <div class="form-row">
            <div class="flex-container">
                <label class="optional" for="{{ post_deposit_form.dispute_reason.id_for_label }}">
                    {{ post_deposit_form.dispute_reason.label }}
                </label>
                {{ post_deposit_form.dispute_reason }}
            </div>
            <div class="help">{{ post_deposit_form.dispute_reason.help_text }}</div>
        </div>

        <!-- Transaction Hash -->
        <div class="form-row">
            <div class="flex-container">
                <label class="optional" for="{{ post_deposit_form.tx_hash.id_for_label }}">
                    {{ post_deposit_form.tx_hash.label }}
                </label>
                {{ post_deposit_form.tx_hash }}
            </div>
            <div class="help">{{ post_deposit_form.tx_hash.help_text }}</div>
        </div>

        <!-- Deposit Date -->
        <div class="form-row">
            <div class="flex-container">
                <label class="optional" for="{{ post_deposit_form.deposit_dt.id_for_label }}">
                    {{ post_deposit_form.deposit_dt.label }}
                </label>
                {{ post_deposit_form.deposit_dt }}
            </div>
            <div class="help">{{ post_deposit_form.deposit_dt.help_text }}</div>
        </div>

        <!-- Deposit Amount -->
        <div class="form-row">
            <div class="flex-container">
                <label class="optional" for="{{ post_deposit_form.deposit_amt.id_for_label }}">
                    {{ post_deposit_form.deposit_amt.label }}
                </label>
                {{ post_deposit_form.deposit_amt }}
            </div>
            <div class="help">{{ post_deposit_form.deposit_amt.help_text }}</div>
        </div>
    </fieldset>

    <div class="submit-row">
        <input type="submit" value="Post Deposit" class="default" />
    </div>
</form>
{% endblock %}