.how-it-works {
    align-items: center;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%
  }

.how-it-works .blade {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 120px 0px 0px;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.how-it-works .blade-image {
  position: relative;
  width: 70%;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.how-it-works .iot-image {
  position: relative;
  width: 75%;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.how-it-works .trust-image {
  position: relative;
  width: 75%;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.how-it-works .iot-image img {
  width: 100%;
}

.how-it-works .trust-image img {
  width: 100%;
}

.how-it-works .person,
.how-it-works .chart {
  width: 70%;
  height: auto;
}
  
.how-it-works .chart {
  left: 65%;
  top: 80%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.how-it-works .blade-container {
  display: flex;
  width: 100%;
}

.how-it-works .blade-grid {
  width: 100%;
}
  
.how-it-works .blade-frame {
  display: inline-flex;
  gap: 32px;
}

.how-it-works .blade-text-frame {
  gap: 16px;
}

.how-it-works .blade-heading {
  color: var(--color-black);
  font-family: var(--heading-2-font-family);
  font-size: var(--heading-2-font-size);
  font-style: var(--heading-2-font-style);
  font-weight: var(--heading-2-font-weight);
  letter-spacing: var(--heading-2-letter-spacing);
  line-height: var(--heading-2-line-height);
  margin-top: 0px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.how-it-works .blade-text {
  color: var(--color-black);
  font-family: var(--body-large-font-family);
  font-size: var(--body-large-font-size);
  font-style: var(--body-large-font-style);
  font-weight: var(--body-large-font-weight);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  position: relative;
  width: 100%;
  max-width: 600px;
  margin-bottom: 40px;
}


@media (max-width: 1200px) {
  .how-it-works .blade-heading {
    font-size: calc(var(--heading-2-font-size) - 5px) !important; 
  }

  .how-it-works .blade-image {
    width: 65%;
  }

  .how-it-works .iot-image {
    width: 70%;
  }

  .how-it-works .trust-image {
    width: 70%;
  }
}

@media (max-width: 992px) {
  .how-it-works .blade-heading {
    font-size: calc(var(--heading-2-font-size) - 10px) !important;
  }

  .how-it-works .blade-image {
    width: 70%;
  }

  .how-it-works .iot-image {
    width: 70%;
  }

  .how-it-works .trust-image {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .how-it-works .blade-heading {
    font-size: calc(var(--heading-2-font-size) - 20px) !important;
  }

  .how-it-works .blade-container {
    flex-direction: column;
    align-items: center;
  }

  .how-it-works .blade-image {
    margin-top: 40px;
    width: 70%;
  }

  .how-it-works .iot-image {
    width: 70%;
  }
  .how-it-works .trust-image {
    width: 70%;
  }

  .how-it-works .blade-frame {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 576px) {

  .how-it-works .blade-heading {
    font-size: calc(var(--heading-2-font-size) - 30px) !important;
  }

  .how-it-works .blade-container {
    flex-direction: column;
    align-items: center;
  }

  .how-it-works .blade-image {
    margin-top: 40px;
    width: 50%;
  }

  .how-it-works .iot-image {
    margin-top: 40px;
    width: 70%;
  }

  .how-it-works .trust-image {
    margin-top: 40px;
    width: 70%;
  }
}