{% extends "admin/base.html" %}
{% load static %}

{% block title %}
    {% if customer|lower == "associated" %}
        Associated Pipe Line Dashboard
    {% else %}
        FIZIT Dashboard
    {% endif %}
{% endblock %}

{% block header %}
  <div id="header">
    <div id="branding">
      <h1 id="site-name">
        {% if customer|lower == "associated" %}
          <img src="{% static 'dashboard/logo/associated-pipe-line-3c.svg' %}" alt="Associated Pipe Line Logo" style="height:30px; vertical-align:middle; margin-right:10px;">
          <a href="{% url 'list_contracts' customer=customer %}">Associated Pipe Line Dashboard</a>
        {% else %}
          <a href="{% url 'list_contracts' customer=customer %}">FIZIT Dashboard</a>
        {% endif %}
      </h1>
    </div>

    <div id="user-tools">
      <a href="{% url 'list_contracts' customer=customer %}">Home</a>
      {% if user.is_authenticated %}
        <span class="user-info">Welcome, {{ user.get_username }}</span>
        <a href="{% url 'logout' %}">Log out</a>
      {% endif %}
    </div>
  </div>
{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'list_contracts' customer=customer %}">Home</a>
  {% if title %} &rsaquo; {{ title }}{% endif %}
</div>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
{% if customer|lower == "associated" %}
    <link rel="stylesheet" href="{% static 'dashboard/css/associated.css' %}">
{% else %}
    <link rel="stylesheet" href="{% static 'css/fizit.css' %}">
{% endif %}
{% endblock %}